@import "app/styles/variables.scss";

.coursesList {
    border: 1px solid $thirdy-color;
    padding: 20px;

}

.message {
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    &Wrapper {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
}