@import "app/styles/variables.scss";

.courseItem {
    height: 200px;
    width: 250px;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        .icon {
        transform: scale(1.1);
        }
    }
}

.icon {
    height: 80px;
    width: 80px;
    transition: all 0.3s;
}

.text {
    position: absolute;
    bottom: 15px;
}