@import "app/styles/variables.scss";

.btn {
    border-radius: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: $secondary-color;
    font-size: 16px;
    padding: 15px 15px;
    min-width: 200px;
    margin-right: 10px;

    &:disabled {
        opacity: 0.5;
    }
}

.wrapper {
    display: flex;
    align-items: center;
}