@import "app/styles/variables.scss";

.header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    height: $header-height;
    top: 0;
    left: 0;
    right: 0;
    background-color: $secondary-color;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.logoWrapper {
    display: flex;
    align-items: center;
    color: white;
}

.logoName {

}

.userWrapper {
    display: flex;
    align-items: center;

    & > * {
        margin: 0 15px;
    }
}

.userAvatar {
    border-radius: 50%;
    height: 50px;
}

.userNotifications {
    height: 25px;
}

.userName {
    font-size: 20px;
}

.more {
    height: 25px;
}